.container {
  background-color: #373737;
  margin: 0 auto;

  margin-bottom: 24px;
  max-width: 1200px;
  padding: 8px 16px;
  min-height: 48px;
  max-height: 500px;
  overflow-y: overlay;
  outline: none;
  border: 1px #505050 solid;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}
