.container {
  background-color: #373737;
  margin: 0 auto;
  display: flex;
  word-wrap: break-word;
  max-width: 1400px;
  padding: 16px;
  min-height: 64px;
  margin-bottom: 24px;
  overflow-y: auto;
  outline: none;
  border: 1px #505050 solid;

  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  position: relative;
  width: 100%;
  bottom: 0;
  position: fixed;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-bottom: 0px;
    width: 100%;
  }
}
