.wrapper {
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1200px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  padding-top: 72px;
}

.left {
  width: 15%;
}

.center {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.right {
  width: 15%;
}

.output {
  padding: 0 16px;
  line-height: normal;
  overflow-y: overlay;
  overflow-x: hidden;
  margin-top: auto;
  width: 100%;
  max-height: 100vh;
  white-space: pre-wrap;
  font-weight: lighter;
  font-family: "Roboto Mono", monospace;
}

.output * {
  overflow-anchor: none;
}

.anchor {
  overflow-anchor: auto;
  height: 1px;
}

.descContainter {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.descContainer img {
  width: 100%;
  min-height: 400px;
  max-height: calc(100vh - 144px);
  flex-grow: 1;
  object-fit: cover;
  object-position: center;
  padding-bottom: 16px;
}

.descDesc {
  padding: 16px 0;
  font-family: "Roboto Mono", monospace;
}

.descContainer p {
  font-family: "Roboto", serif;
  line-height: 24px;
  padding-bottom: 16px;
}

.descContainer h4 {
  margin-top: 4px;
}

.avatarContainer {
  display: flex;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background: grey;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 16px;
}

.sayContainer {
  display: flex;
  margin: 16px 0;
}

.sayName {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}

.sayMessage {
  font-family: "Roboto", serif;
  line-height: 24px;
}

.listContaner {
  margin: 0 16px;
}

.listTitle {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  border-bottom: 1px solid white;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: #ffffff;
}

.listEntry {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  padding-bottom: 8px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #ffffff;
}

.contentsMobile {
  background: rgb(14, 13, 13);
  border: 1px solid rgb(53, 53, 53);
  position: fixed;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  padding-top: 32px;
  overflow-y: overlay;
}

.contentsMobile img {
  margin-left: auto;
  margin-right: 16px;
  margin-bottom: 16px;
}

.contentsMobile p {
  font-size: 16px;
  line-height: 32px;
}

@media screen and (max-width: 1024px) {
  .left {
    display: none;
  }

  .right {
    display: none;
  }

  .output {
    padding: 0 16px;
    margin-bottom: unset;
  }

  .center {
    width: 100%;
  }
}
