.wrapper {
  width: 48%;
  margin-top: 24px;
}

.header {
  display: flex;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  margin-bottom: 8px;
}

.label {
  font-size: 18px;
  letter-spacing: 0.2en;
  text-transform: uppercase;
  margin-right: 16px;
}

.note {
  font-size: 14px;
  text-transform: uppercase;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  text-transform: capitalize;
  padding: 0;
  padding-left: 16px;
  background-color: #1a1a1a;
}

.list p {
  margin-right: auto;
}

.list:nth-child(even) {
  background-color: #2b2b2b;
}

.list:nth-child(even) .value {
  background-color: white;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

.row p {
  margin-right: auto;
}

.value {
  padding: 16px 24px;
  margin-left: 24px;
  min-width: 75px;
  text-align: center;
  color: #1e1e1e;
  font-weight: normal;
  background-color: #dedede;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }
}
