.inputContainer {
  display: flex;
  color: white;
  align-items: center;
}

.input {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  height: 100%;
  width: 100%;
  font-weight: lighter;
  outline: none;
  background: transparent;
  border: none;
  font-size: 18px;
  flex-grow: 1;
  color: white;
}

.input::placeholder {
  color: white;
}

.label {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-right: 16px;
  text-align: center;
}

.inputPassword {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  appearance: none;
  border: none;
  background: transparent;

  font-size: 18px;
  outline: none;
  color: white;
  flex-grow: 1;
  max-width: 100%;
}

.inputPassword::placeholder {
  color: white;
}

.label::after {
  content: "";
  display: inline-block;
  background: url("../../public/edit.svg") no-repeat top right;
  width: 12px;
  height: 12px;
  margin-left: 8px;
}
